.button {
  padding: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #1B1B1B;
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 14px;
}
.button:hover {
  background-color: black;
}
.button:active {
  transform: scale(0.9);
}

body,
html {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
body {
  background-color: #535A5E;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  white-space: nowrap;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
a {
  text-decoration: none;
}
#overlay-black {
  z-index: 2000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  pointer-events: none;
  opacity: 0;
}
#overlay-black .popover {
  margin: 0 auto;
  background-color: #303030;
  width: 500px;
  min-height: 100px;
  border: 1px solid black;
  padding: 15px;
}
#overlay-black .popover h3 {
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  line-height: 0;
  font-size: 18px;
}
#overlay-black .popover .input-large {
  width: 98%;
  border: none;
  height: 25px;
  background-color: #1B1B1B;
  margin-top: 5px;
  color: gray;
  padding-left: 10px;
}
#sysbar {
  -webkit-app-region: drag;
  background-color: #2E3233;
  border-bottom: 1px solid black;
  width: 100%;
  height: 35px;
  line-height: 35px;
  color: white;
  text-align: center;
  position: relative;
  z-index: 1000;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -o-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=15);
}
#sysbar .menu-container {
  position: absolute;
  left: 10px;
  top: 0px;
  -webkit-app-region: no-drag;
}
#sysbar .menu-container .item {
  display: inline-block;
  vertical-align: top;
  min-width: 30px;
  height: 35px;
  font-size: 13px;
  cursor: pointer;
  color: gray;
  margin-left: 10px;
  position: relative;
}
#sysbar .menu-container .item .sub-menu {
  position: absolute;
  top: 35px;
  min-width: 50px;
  min-height: 30px;
  background-color: #2E3233;
  border: 1px solid black;
  border-top: none;
  display: none;
}
#sysbar .menu-container .item .sub-menu .sub-item {
  color: gray;
  width: 100%;
  text-align: left;
  padding-left: 15px;
  padding-right: 15px;
}
#sysbar .menu-container .item .sub-menu .sub-item span {
  font-size: 10px;
}
#sysbar .menu-container .item .sub-menu .sub-item:hover {
  color: white;
}
#sysbar .menu-container .item:hover {
  color: white;
}
#sysbar .menu-container .item:hover .sub-menu {
  display: block;
}
#sysbar .title {
  font-size: 16px;
  cursor: default;
}
#sysbar .action-container {
  position: absolute;
  right: 10px;
  top: 9px;
  -webkit-app-region: no-drag;
}
#sysbar .action-container .bubble-bt {
  height: 17px;
  width: 17px;
  border-radius: 17px;
  cursor: pointer;
  transition: 0.2s;
  display: inline-block;
  vertical-align: top;
  margin-right: 2px;
  background-color: black;
}
#sysbar .action-container .bubble-red {
  background-color: #FF605C;
}
#sysbar .action-container .bubble-red:hover {
  background-color: #dc4642;
}
#sysbar .action-container .bubble-green {
  background-color: #0ECA37;
}
#sysbar .action-container .bubble-green:hover {
  background-color: #0fa12e;
}
#sysbar .action-container .bubble-orange {
  background-color: #FEBD00;
}
#sysbar .action-container .bubble-orange:hover {
  background-color: #d09d07;
}
#sidebar {
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -o-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=15);
  position: relative;
  vertical-align: top;
  display: inline-block;
  background-color: #393E3F;
  z-index: 1;
  width: 200px;
  height: 100%;
  border-right: 1px solid black;
  padding-top: 20px;
  overflow-x: auto;
  overflow-y: hidden;
}
#sidebar .header-item {
  white-space: nowrap;
  color: white;
  font-size: 17px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
}
#sidebar .header-item i {
  margin-right: 2px;
  font-size: 13px;
}
#sidebar .normal-item {
  white-space: nowrap;
  color: gray;
  font-size: 15px;
  padding-left: 45px;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;
  transition: 0.2s;
}
#sidebar .normal-item:active {
  transform: scale(0.9);
}
#sidebar .normal-item:hover {
  color: white;
}
#sidebar .normal-item i {
  margin-right: 2px;
  font-size: 12px;
}
#main-content {
  display: inline-block;
  vertical-align: top;
  position: absolute;
  left: 200px;
  right: 0px;
  bottom: 50px;
  top: 35px;
  margin-left: -5px;
  overflow: auto;
}

#music-player {
  z-index: 0;
  background-color: #393E3F;
  position: absolute;
  left: 200px;
  right: 0px;
  bottom: 0;
  height: 50px;
  line-height: 50px;
  border-top: 1px solid black;
  -moz-box-shadow: 0px 0px 15px 0px #000000;
  -webkit-box-shadow: 0px 0px 15px 0px #000000;
  -o-box-shadow: 0px 0px 15px 0px #000000;
  box-shadow: 0px 0px 15px 0px #000000;
  filter: progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=NaN, Strength=15);
}
#music-player .control-bt {
  display: inline-block;
  height: 25px;
  font-size: 25px;
  cursor: pointer;
}
#music-player .control-bt:active {
  transform: scale(0.9);
}
#music-player .play-bt {
  margin-left: 10px;
  margin-right: 10px;
}
#music-player .seek-control {
  position: absolute;
  top: 5px;
  left: 110px;
  right: 10px;
  line-height: 30px;
  height: 50px;
  vertical-align: top;
}
#music-player .seek-control .title {
  font-size: 11px;
}
#music-player .seek-control .progress-bar {
  width: 100%;
  height: 2px;
  background-color: gray;
  border-radius: 5px;
  position: relative;
}
#music-player .seek-control .progress-bar .seek-bt {
  background-color: white;
  border: 1px solid lightgray;
  height: 10px;
  width: 10px;
  border-radius: 10px;
  position: absolute;
  top: -5px;
  left: 0px;
  cursor: pointer;
}

.ptable {
  margin: 0;
  padding: 0;
  border: none;
}
.ptable .table-item {
  cursor: pointer;
  height: 50px;
}
.ptable .table-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.ptable tr {
  width: 100%;
}
.ptable tr th {
  background-color: #2E3233;
  padding: 5px;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  cursor: pointer;
  font-size: 14px;
}
.ptable tr th i {
  margin-right: 5px;
}
.ptable tr td {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  padding: 5px;
  border-bottom: 1px solid #393E3F;
  position: relative;
}
.ptable tr .progress-bar {
  width: 50%;
  height: 100%;
  background-color: #4A7B4A;
  position: relative;
}
.ptable tr .centered-text {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  line-height: 30px;
  color: white;
  text-align: center;
  z-index: 1;
  font-size: 11px;
}
.ptable tr:nth-child(odd) {
  background-color: #393E3F;
}
