<h3>Ajouter une vidéo</h3>
<input type="text" class="input-large" data-input="add-video" placeholder="URL de votre vidéo .." />
<div style="text-align: right; margin-top: 5px;">
  <div class="button" data-action="close-popover">Annuler</div>
  <div class="button" data-action="add-video">Ajouter</div>
</div>
